# My Jupyter Notebook on IBM Watson Studio

**Mark Munday**

Formula 1 Data Analyst

*I am interested in data science because it is the future of most industries across the globe. Data science is breaking new ground providing marginal gains and analytical insight in sports. It is also being used to revolutionise the our approach to business and commerce.*

### The code in the below cell (cell 5) computes the sum one plus one and displays the output underneath.

In [2]:
1+1

2

~~This is a strikethrough~~ <br>  

Here is a blockquote below.

> This is my example of a blockquote. <br>

Here is a horizontal rule example...

---

There are hyphens above here

***

There are asterisks above here

___

There are underscores above here


1. This is the first item in a numbered list
2. Here is another item
1. Actual numbers don't matter, this is numbered 1 but it prints as 3


* Here is a bullet list. The first one is an astrick
- The second is a minus
+ The last is a plus

[Here is a link to Google](https://www.google.com "Google's Homepage")

Here is a the Google logo (hover to see the title text):

![alt text](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjzC2JyZDZ_RaWf0qp11K0lcvB6b6kYNMoqtZAQ9hiPZ4cTIOB "Google Logo")

Some words in sentences can be highlighted `like this` using back-ticks.